@import url("content.css");

:root {
    --darkgrey: #212329;
    --brightyellow:#fdcc04;
    --white: #FAFAFA;
    --whitesmoke: #F6F6F6;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #292929;
    font-family: 'NRT Reg', sans-serif;                                      

}
.nav-container{
    width: 100%;
    background: var(--brightyellow);
}
.navbar{
    display: grid;
    grid-template-columns: 0.2fr auto 1fr;
    align-items: center;
    height: 80px;
    width: 90%;
    max-width: 1720px;
    margin: 0 auto;         
}
#navbar-logo{
    color: var(--darkgrey);
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
    
}
#navbar-logo a{
    text-decoration: none;
}
.nav-menu {
    display: grid;
    grid-template-columns: repeat(5, auto);
    list-style: none;
    text-align: center;
    width: 70%;
    justify-self: end;
}
.nav-links{ 
    color: var(--darkgrey);
    text-decoration: none;
}

.nav-links:hover{
    color: #656D73;
    transition: all 0.2s ease-out;
}
.nav-links-btn{
    background-color: var(--darkgrey);
    padding: 6px 16px;
    border-radius: 4px;
    color: var(--brightyellow);
}
.nav-links-btn:hover{
    background-color: transparent;
    color: #ffffff;
    padding: 5px 15px;
    border-radius: 4px;
    border: solid 1px var(--brightyellow);
}
.menu-toggle .bar{
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: var(--darkgrey);
}
@media screen and (max-width: 768px) {
    .nav-container{
        position: relative;
    }
    .nav-menu{
        display: grid;
        grid-template-columns: auto;
        background: var(--brightyellow);
        margin: 0;
        width: 100%;
        position: absolute;
        top: 80px;
        left: -100%;
        opacity: 0;
        transition: all 0.5s ease;
    }
    #navbar-logo{
        margin-left: 20px;
    }
    .nav-menu.active{
        background-color: var(--brightyellow);
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
    }
    .nav-links{
        text-align: center;
        line-height: 60px;
        width: 100%;
        display: table;
    }
    .navbar{
        width: 100%;
    }
    .nav-links-btn{
        border: none;
        padding: 0;
        border-radius: 0;
        background-color: var(--brightyellow);
        color: var(--darkgrey);
        transition: all 0.4s ease-out;
    }
    .card-button {
        text-decoration: none;
    }
    .nav-links-btn:hover{
        border: none;
        padding: 0;
        border-radius: 0;
        background-color: var(--brightyellow);
        color: var(--darkgrey);
        transition: all 0.4s ease-out;
    }
    #mobile-menu{
        position: absolute;
        top: 30%;
        right: 5%;
        transform: translate(5%, 20%);
    }
    .menu-toggle .bar{
        display: block;
        cursor: pointer;
    }
    .menu-toggle:hover{
        cursor: pointer;
    }
  
    #mobile-menu.is-active .bar:nth-child(1){
        transform: translateY(8px) rotate(180deg);
    }
    #mobile-menu.is-active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-180deg);
    }
}




/* Footer */

footer {
    background: #f1f1f1;
    padding: 90px 0;
}

.footer-container {
    max-width: 1300px;
    margin: auto;
    width: 100%;
    height: 350px;
    margin-top: 50px;
    padding: 0 30px;
    background-color: #f1f1f1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap-reverse;
}

.logo {
    width: 180px;
}

.social-media a {
    color: #001a21;
    margin-right: 25px;
    font-size: 22px;
    text-decoration: none;
    transition: .3s linear;
}

.social-media a:hover {
    color: rgb(136, 72, 62);
}

.right-col h1 {
    font-size: 26;
}

.border {
    width: 100px;
    height: 5px;
    background-color: var(--brightyellow);
    margin-bottom: 20px;
}

.newletter-form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.txtb {
    flex: 1;
    padding: 18px 35px;
    font-size: 16px;
    color: #7c7e83;
    background: #dfdfdf;
    border: none;
    font-weight: 700;
    outline: none;
    border-radius: 30px;
    min-width: 260px;
}

.button {
    padding: 18px 40px;
    font-size: 16px;
    color: #293043;
    background: var(--brightyellow);
    border: none;
    font-weight: 700;
    outline: none;
    border-radius: 30px;
    margin-left: 20px;
    cursor: pointer;
    transition: opacity .3s linear;
}

.button:hover {
    opacity: 0.7;
}

@media screen and (max-width: 960px) {
    .footer-container {
        max-width: 600px;
    }
    .right-col {
        width: 100%;
        margin-bottom: 20px;
    }
    .left-col {
        width: 100%;
        text-align: center;
    }
}

@media screen and (max-width: 700px) {
    .btn {
        margin: 0;
        width: 100%;
        margin-top: 50px;
    }
}
